<header></header>
<div class="jumbotron jumbotron-fluid">

    <!--Navigation bar-->
    {{>nav}}

    <!--Registration Form-->
    {{>register}}

    <!--Login Form-->
    {{>login}}


    <!--Searching form-->
    {{>searching}}

</div>
</header>