<div class="py-5 information-section text-center">
    <div class="card-body">
        <h3>About Us</h3>
        <p class = "lead">Founded in 2008, Airbnb’s mission is to create a world where people can belong through healthy travel that is
            local, authentic, diverse, inclusive and sustainable. Airbnb uniquely leverages technology to economically
            empower millions of people around the world to unlock and monetize their spaces, passions and talents and
            become hospitality entrepreneurs. </p>
        <h3>Promotion</h3>
        <img src="img/banner.jpg" alt="banner">
    </div>
</div>

</section>
<div class="introduction">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source id="mp4"
            src="https://a0.muscache.com/v/c8/44/c84447fb-f877-54ba-8ab4-96c5823da807/c84447fbf87754ba8ab496c5823da807_1000k_1.mp4?imformat=h265"
            type="video/mp4; codecs=hevc">
        <source id="mp4"
            src="https://a0.muscache.com/v/c8/44/c84447fb-f877-54ba-8ab4-96c5823da807/c84447fbf87754ba8ab496c5823da807_1000k_1.mp4"
            type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-left align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-5">AirBnB experiences</h1>
                <p class="lead mb-0">with animals</p>
            </div>
        </div>
    </div>
</div>
  </section>

