<!--ADD GRID-->
    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/img/room/1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Beautiful house for family</a>
            </h4>
            <p class="card-text">
                Rating: 3.4/5.0<br>
                135 CAD/night</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/img/room/2.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Luxury Hostel in Downtown</a>
            </h4>
            <p class="card-text">Rating: 3.2/5.0<br>
                57CAD/night</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/img/room/3.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Charming Private Room By The Sea</a>
            </h4>
            <p class="card-text">Rating: 3.8/5.0<br>
                90CAD/night
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/img/room/4.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Private Bedroom for 2 people</a>
            </h4>
            <p class="card-text">Rating: 4.0/5.0<br>
            60CAD/night</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/img/room/5.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Adorable Double Room</a>
            </h4>
            <p class="card-text">Rating: 3.6/5.0<br>
            66CAD/night</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="/img/room/6.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">Large Bedroom for family</a>
            </h4>
            <p class="card-text">Rating: 4.2/5.0<br>
            80CAD/night</p>
          </div>
        </div>
      </div>
    </div>