
<form id="form_search" class="justify-content-center col-sm-4" method="POST" action=""></form>
  <h3>ARE YOU SURE TO BOOK THIS ROOM</h3>
  <div class="form-group">
    <input type="title" class="form-control" id="title" name="title" value="{{allRoom.title}} readonly">
  </div>
  <div class="form-group">
    <input type="b" class="btn btn-secondary form-control" id="add" value="Confirm">Edit Room</button>
  </div>
</form>